.section_heading_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 10px 0px 30px 0px;

}

.hr_line{
    width: 50px;

    
}

.section_text{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 10px;
}


/*   category product */

.category_product_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
    padding: 20px 10% 40px 10%;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .category_product_div {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 30px;
        padding: 20px 5% 40px 5%;
    }
}

@media (max-width: 425px) {
    .category_product_div {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 30px;
        padding: 20px 5% 40px 5%;
    }
}



/*   Trending product */

.trending_container{
    display: grid;
    grid-template-columns: 50% 40%;
    width: 70%;
    margin: 0 0px 0 20%;
    box-sizing: border-box;
}

.trend_col1_div{
    background-color: rgb(76, 206, 82);

}

.col1_img{
    width: 100%;
    height: 100%;
    position: relative;
}
.col1_btn{
    position: relative;
    bottom: 10%;
    left: 10%;
    text-decoration: none;
    background-color: var(--hovering-effect);
    color: var(--primary-text);
    padding: 10px 20px;
    border-radius: 10px;
}
.trend_col2_div{
    display: grid;
    grid-template-columns: 100%;
    background-color: aquamarine;
}

.col2_img{
    width: 100%;
}


/*    arrivals */


.arrival_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
    padding: 20px 3% 40px 3%;
    margin: 0 auto;
    width: 100%;
}



/*     free delivery , wallet , phone */


.full_width_div{
    width: 100%;
    justify-items: center;
    align-content: center;
    margin: 100px 0 100px 0;
}


.div_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 10px;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
    align-content: center;
}

.fspw_div{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 30% 20% 50%;
    justify-items: center;
    align-items: center;
    width: 210px;
    height: 180px;
    padding: 20px 10px;
    background-color: var(--hovering-effect);

}
.fspw_icon_size{
    width: 30px;
    height: 30px;
    color: var(--primary-color);
}
.fspw_center_text{
    text-align: center;
}
.fspw_heading{
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--primary-text);
    margin: 0 ;
}

.fspw_div:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 0.3s;

    .fspw_icon_size{
        color: white;
    }
    .fspw_heading{
        color: white;
    }
}




/*  review */


.review_fwidth_div{
    width: 100%;
    justify-items: center;
    align-content: center;
    margin: 30px 0 ;
}

.review_grid_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
    align-content: center;
}











.grid_main{
    display: grid;
    grid-template-columns: 35% 22% 22%;
    width: 100%;
    height:100vh;
    gap: 10px 10px;
    justify-content: center;
}

.grid1{
    height: 100vh;
    justify-items: right;
}


.grid2{
    display: grid;
    grid-template-columns: 50vh;
}
.img1{
    height: 99vh;
    width: 100%;
}
.img2{
    height: 49vh;
    width: 100%;
}
























