.section_heading_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 10px 0px 30px 0px;

}

.hr_line{
    width: 50px;

    
}

.section_text{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 10px;
}


/*   category product */

.category_product_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
    padding: 20px 10% 40px 10%;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .category_product_div {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 30px;
        padding: 20px 5% 40px 5%;
    }
}

@media (max-width: 425px) {
    .category_product_div {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 30px;
        padding: 20px 5% 40px 5%;
    }
}



/*   Trending product */

.trending_container{
    display: grid;
    grid-template-columns: 50% 40%;
    width: 70%;
    margin: 0 0px 0 20%;
    box-sizing: border-box;
}

.trend_col1_div{
    background-color: rgb(76, 206, 82);

}

.col1_img{
    width: 100%;
    height: 100%;
    position: relative;
}
.col1_btn{
    position: relative;
    bottom: 10%;
    left: 10%;
    text-decoration: none;
    background-color: var(--hovering-effect);
    color: var(--primary-text);
    padding: 10px 20px;
    border-radius: 10px;
}
.trend_col2_div{
    display: grid;
    grid-template-columns: 100%;
    background-color: aquamarine;
}

.col2_img{
    width: 100%;
}


/*    arrivals */


.arrival_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
    padding: 20px 3% 40px 3%;
    margin: 0 auto;
    width: 100%;
}














.grid_main{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height:100vh;
    background-color: aliceblue;
}
