.review_container{
    width: 75%;
    padding: 20px 30px;
    background-color: #eceaeaf6;
    border-radius: 10px;
}

.cus_name{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-text);
    margin: 0 ;
}

.cus_name_div{
    display: flex;
    justify-content: left;
    margin:  0 0 10px 0 ;
    align-items: center;
}

.star_rating{
    margin-bottom: 10px;
}


.review_text_div{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 10px 0 ;    
    font-size: 1.1rem;
    color:#5a5858f6;
}