.product_container{
    display : grid;
    grid-template-columns: 100%;
    background-color: var( --hovering-effect);
    border-radius: 5px;
    height: 410px;
    width: 350px;
    justify-content: center;
    margin: 0 auto;
    
}

.product_img_div{
    width: 100%;

}

.pro_img{
    width: 100%;
    border-radius: 15px;
}

.product_name_div{
    padding: 10px 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text);
    text-align: center;
}