@import "tailwindcss";


:root {
  --primary-color: #16423C;
  --seconday-color: #6A9C89;
  --background-color: #C4DAD2;
  --hovering-effect: #E9EFEC;
  --primary-text: #303030;
  --secondary-text: #949494;
 }
body {

  font-family: Arial, Helvetica, sans-serif;
}
