/* .arrival_product_container{
    
    display: grid;
     grid-template-rows:80% 20%;   
    grid-template-rows: 4fr 3fr;  
    height: 490px;
    width: 300px;
    border-radius: 15px;
    padding: 10px;
}


.arrival_product_container:hover{
    background-color: rgb(240, 240, 240); 
}

.arrival_img_div{
    box-sizing: border-box;
}

.arrival_product_img{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}



.arrival_product_info{
    padding: 10px;
    align-content: center;
    
}

.item_heading{
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-text);
}

.item_price {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-text);

}
.item_price_heading{
    font-size: 14px;
    font-weight: 600;
    color: black;

}

 */


.category_filter_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 50px 0;
    padding: 30px;
}

.catergory_product_card {
    display: grid;
    height: 510px;
    width: 300px;
    /* background-color: rgb(233, 232, 231); */
    margin: 0 0 ;
    /* border: 1px solid rgb(45, 197, 96); */
}

.card_img_div {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: transparent;
    /* border: 1px solid rgb(126, 28, 28); */
}

.card_img {
    width: 100%;

}

.card_detail_div{
    padding: 10px;
    height: 10%;
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: column;
    align-items: b;
}

.card_heading{
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--primary-text);
}