.Nav_container{
    height:110px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 0 10px ;
    display: grid;
    grid-template-columns: 25% 50% 25%; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.Nav_img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo{
    width: 3.5rem;
}



/*  links  */


.Nav_link_div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

}

.Nav_link{
    color:var( --hovering-effect);
    font-size: 1rem;
    text-decoration: none;
}

.divison_line{
    color:var( --hovering-effect);
    font-size: 1rem;
}

.Nav_link:hover{
    color: var(--background-color);
    text-decoration: underline;
}



/* buttons */

.Nav_search_login_cart_div{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.nav_buttons{
    color: var( --hovering-effect);
}

.dropdown-button {
  width: 100px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}



.dropdown-button:hover {
  background-color: var(--primary-color);
  color: white;
}
