.footer_w_container{
    width: 100%;
}
.footer_main_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 50px 20px;
    background-color: var(--primary-color);
}

.footer_logo_container{
    padding: 20px 30px 0 30px;
    justify-items: center;
}

.logo_center{
    text-align: center;
}

.footer_logo{
    width: 50%;
    margin: 0 auto;
}

.footer_logo_text{
    font-size: 20px;
    font-weight: 600;
    color: var(--hovering-effect);
    margin-top: 20px;
}



.footer_middle_links_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-right: 5vw;
}

.links_section_headings{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--hovering-effect);
    margin-bottom: 5px;
}

.hr_line_margin{
    margin-bottom: 20px;
    color: var(--hovering-effect);
}

.footer_links{
    color: var(--hovering-effect);
    margin: 5px 0;
}


.footer_social_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

.footer_social_icons_container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 30px;
}

.footer_bottom_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 80px;

}

.mastercard{
    width: 50px;
}

.footer_payment_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}